/*Estilo para componente de livro*/
.livro{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
}
.livro h3{
    font-size: 20px;
    margin: 0;
    padding: 5px;
    
}
.livro .titulo{
    background-color: #ccc;
    padding: 5px;
    border-radius: 4px;
}